#carousel-container img {
   height: 700px;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

#img-box {
   height: 300px;
}

#img-box img {
   max-width: 275px;
}

@media screen and (max-width: 767px) {

   #carousel-container img {
      width: 500px; 
      height: 250px; 
      object-fit: cover;
   }

}